<!-- 	File Name: home.handlebars
	Author: Ernest Kim
	Date: 2.5.2020 -->

  <div class="container-fluid">
    <h1>Welcome to a user story spike</h1>

    <h3>What would you like to view/enter data for?</h3>

    <a href="localhost:7374/spike" class="btn btn-primary">User Story 6</a>
  </div>
