<h1> New Product Form </h1>
<form method="POST" action="/product_add">
    <label for="product_name">Name</label>
    <input type="text" name="product_name" id="product_name"><br> 
    <input type="submit" value="Add Product">
</form>
<button id="backBtn">Back</button>