<h1> New Resource Form </h1>
<form method="POST" action="/resource_add">
    <label for="resource_name">Name</label>
    <input type="text" name="resource_name" id="resource_name"><br> 
    <input type="submit" value="Add Resource">
</form>
<button id="backBtn">Back</button>