<h1> New Recipe Form </h1>
<form method="POST" action="/resource_product_add">
    <label for="product_id">Product ID</label>
    <input type="number" name="product_id" id="product_id"><br> 
    <label for="resource_id">Resource ID</label>
    <input type="number" name="resource_id" id="resource_id"><br>
    <label for="resource_quantity">Quantity</label>
    <input type="number" name="resource_quantity" id="resource_quantity"><br> 
    <input type="submit" value="Add Recipe">
</form>
<button id="backBtn">Back</button>